<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bozzie</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import styling resources -->
    <link
      href="https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tachyons@4.11.1/css/tachyons.min.css"
    />
    <link rel="stylesheet" href="/style.css" />

    <!-- import javascript resources -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <main id="app" class="vh-100 dt w-100 bg-washed-red">
      <div class="dtc v-mid tc ph3 ph4-l">
        <div class="mw9 center ph3-ns">
          <div class="cf ph2-ns">
            <!--          Left Column       -->
            <div class="fl w-60-l w-100-m w-100 pa2">
              <div class="outline bg-white pv4 ph3" id="Left column">
                <h1 class="mb3 mt0 lh-title">Hi, my name is Boz</h1>
                <time class="f6 ttu tracked gray">Yeet</time>
              </div>
            </div>
            <!--          Middle Column      -->
            <div class="fl w-30-l w-60-m w-100 pa2">
              <div class="outline bg-white pv4" id="Middle column">
                <div class="mw6 center">
                  <article
                    class="dt w-100 bb b--black-05 pb2 ph4 mt2"
                    href="#0"
                    v-for="item in sections"
                    :key="item.title"
                  >
                    <div class="dtc w2 w3-ns v-mid">
                      <img
                        :src="item.img"
                        class="ba b--black-10 db br-100 w2 w3-ns mw-custom h2 h3-ns"
                      />
                    </div>
                    <div class="dtc v-mid pl4 tl">
                      <h1 class="f6 f5-ns fw6 lh-title black mv0">
                        {{item.title}}
                      </h1>
                      <h2 class="f6 fw4 mt0 mb0 black-60">@{{item.tag}}</h2>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <!-- Third Column  -->
            <div class="fl w-10-l w-20-m w-100 pa2">
              <div class="outline bg-white pv4" id="Right column">
                <!-- SVG Icons are from https://simpleicons.org -->
                <div class="ml-auto mr-auto">
                  <a
                    class="link near-black hover-silver dib h2 w2 ma3"
                    v-for="item in icons"
                    :key="item.title"
                    :href="item.url"
                    :title="item.title"
                  >
                    <svg
                      fill="currentColor"
                      xmlns="https://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      stroke-linejoin="round"
                      stroke-miterlimit="1.414"
                    >
                      <path :d="item.path" />
                    </svg>
                  </a>
                </div>
                <div class="mt4 ph1">
                  <a href="#" class="f6 link dim gray dib"> Contact Me</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--         <h1 class="f6 f2-m f-subheadline-l fw6 tc">
          Vertically centering things in css is easy!
          <div>
            <div class="pa3 pa5-ns">
              <h4 class="f6 fw6">Glossary</h4>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">W:</dt>
                <dd class="dib ml0 gray">Wins</dd>
              </dl>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">L:</dt>
                <dd class="dib ml0 gray">Losses</dd>
              </dl>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">PCT:</dt>
                <dd class="dib ml0 gray">Winning Percentages</dd>
              </dl>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">GB:</dt>
                <dd class="dib ml0 gray">Games Back</dd>
              </dl>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">Home:</dt>
                <dd class="dib ml0 gray">Home Record</dd>
              </dl>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">Road:</dt>
                <dd class="dib ml0 gray">Road Record</dd>
              </dl>
              <dl class="f6 lh-title mv2">
                <dt class="dib b">Div:</dt>
                <dd class="dib ml0 gray">Division Record</dd>
              </dl>
            </div>
          </div>
        </h1> -->
      </div>
    </main>
  </body>
</html>
